@model IEnumerable<FocusRandonGenerator.WebApp.Models.GeneratedRandonNumber>

@{
    ViewData["Title"] = "ListRandonNumbers";
}

<h1>ListRandonNumbers</h1>
<div>
    <a asp-action="Index">Back to Home</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
               
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <partial name="_Views_RandomNumber" model="item" />
            </td>
            
           
        </tr>
}
    </tbody>
</table>

